body {
 width: 100%;
}

#wrap {
  width: 780px;
  margin: auto;
  background-color: #EEE;
  padding: 2em;
  border: 1px solid #DDD;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
}

.green {
  color: ForestGreen;
}

.red {
  color: Red;
}

.yellow {
 color: Darkorange;
}

td.summary {
  font-size: 1.1em;
}

td.spendings {
  font-size: 1.1em;
  font-weight: bold;
}
