#wrap {
  width: 780px;
  margin: auto;
  margin-top: 1em;
  background-color: #EEE;
  padding: 2em;
  border: 1px solid #DDD;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
}

@media (max-width: 854px) {
  #wrap {
    width: auto;
    margin-top: 0.5em;
    padding: 0.5em;
  }
}

td.summary {
  font-size: 1.1em;
}

td.spendings {
  font-size: 1.1em;
  font-weight: bold;
}

#progressbar {
  height: 2em;
  width: 42%;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

@media (max-width: 854px) {
  #progressbar {
    width: auto;
  }
}

.progressbar_green {
  background-color: #00C90D;
}

.progressbar_yellow {
  background-color: #FF9C00;
}

#amount {
  height: 2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  background-color: #CCC;
  float: left;
}
